@import "fonts.css";

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; } /* OBS Compatibility */

.content-box-600x220 {
    background: white;
    width: 600px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    margin: 5px;
}

.name {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 600;
    margin: 5px;
    color: #AAAAAA;
}
