@import "fonts.css";

.content-box-600x220 {
    background: white;
    width: 600px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.job {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 12px;
}

.name {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1px;
}

.team {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1px;
}